<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <meta http-equiv="X-UA-Compatible" content="ie=edge" />
     <link rel="stylesheet" href="https://use.fontawesome.com/releases/v5.6.3/css/all.css" integrity="sha384-UHRtZLI+pbxtHCWp1t77Bi1L4ZtiqrqD80Kn4Z8NTSRyMA2Fd33n5dQ8lWUE00s/" crossorigin="anonymous">
    <link
      rel="stylesheet"
      href="https://bootswatch.com/4/flatly/bootstrap.min.css"
    />

    <script src="https://code.jquery.com/jquery-3.4.1.min.js"></script>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.16.0/umd/popper.min.js"></script>
    <script src="https://stackpath.bootstrapcdn.com/bootstrap/4.4.1/js/bootstrap.min.js"></script>

    

    <title>Learning Links Foundation</title>
    <style>
      body{position: relative; padding-bottom: 60px;}
     @media only screen and (max-width: 767px){
       #vendorListViewTable,#AssetListViewTable{width: 100%; overflow-x: auto;}
       .row.mt-5.mb-3.align-items-center{margin-top: 0 !important}
       .row.mt-5.mb-3.align-items-center #ref{display: inline-block; vertical-align: middle;}
       .row.mt-5.mb-3.align-items-center #ref .fa-refresh{margin: 15px 0 20px 10px;}
    
     }
    </style>
  </head>
  <body>

     
    <div class="container-fluid"></div>
    <%- body %>
    
  </body>
</html>
